@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap');

:root {
    --line-border-fill: #3498db;
    --line-border-empty: #e0e0e0;

}


* {
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f6f7fb;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1500px;
}

img {
    overflow: hidden;
    width: 300px;
    height: 300px;
    padding: 10px;
    border-radius: 20px;
}